*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.landing__page{
   
   .hero__wrapper{
    //background-image: url('../../../public/assets/images/bg.jpg');
   }
}
.dashboard__wrapper{
    display: flex;
    gap: 2rem;
}
.main__content{
    margin: 0 auto;
    padding: 2rem;
}
.container{
    // background: #f8f8f8;
    
    height: 100vh;
    @include desktop{
       // background: yellow;
    
    //max-width: calc(100vw - 6rem);
    margin: 0px auto;
    }
   
}
.hero__section{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    
    height: 500px;
    .title{
           font-size: 58px;
           line-height: 79px;
           font-weight: 800;
    }
    .sub__title{
        font-size: 20px;
        line-height: 29px;
    }
}